.experiments {
  background: url("../../assets/splash-background.png") 0 0 / cover;
  border-bottom: 1px solid #ccc;
  min-height: 100px;
  padding: 20px;
}

.customList li {
  padding-bottom: 4px;
  margin-bottom: 24px;
}

.customList li p {
  display: flex;
  align-items: center;
}
