:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}

.main {
  background: url("../assets/splash-background.png") 0 0 / cover;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
