.carousel {
  overflow: hidden;
  display: flex;
  max-width: 620px;
}

.left,
.right {
  z-index: 1;
  background-color: black;
  width: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bi.bi-chevron-left,
.bi.bi-chevron-right {
  color: white;
}

.items {
  flex: 1 1 360px; /* [flex-grow] [flex-shrink] [flex-basis]; max, min, ideal */
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.items li {
  background-color: burlywood;
  width: 100%;
  flex: 0 0 auto;
}

.items li img {
  width: 100%;
  height: 100%;
}

.items li span.description {
  background-color: white;
}

.tracker {
  display: flex;
  max-width: 620px;
  display: flex;
  justify-content: center;
}

.tracker li {
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
  margin: 6px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
